{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    <!--Invierte en tu futuro-->
    {{ if .Site.Params.section1 }}
    {{ partial "section1.html" . }}
    {{ end }}

    <!--Los diferentes tipos de examenes-->
    {{ if .Site.Params.section2 }}
    {{ partial "section2.html" . }}
    {{ end }}

    <!--Explicaciones extensas-->
    {{ if .Site.Params.section_ctn_l_1 }}
    {{ partial "section_ctn_l_1.html" . }}
    {{ end }}

    <!--Amplia variedad de ejemplos-->
    {{ if .Site.Params.section_ctn_r_1 }}
    {{ partial "section_ctn_r_1.html" . }}
    {{ end }}

    <!--Primer testimonial-->
    {{ if .Site.Params.section4_1 }}
    {{ partial "section4_1.html" . }}
    {{ end }}

    <!--Matematica-->
    {{ if .Site.Params.section_ctn_l_2 }}
    {{ partial "section_ctn_l_2.html" . }}
    {{ end }}

    <!--Verbal-->
    {{ if .Site.Params.section_ctn_r_2 }}
    {{ partial "section_ctn_r_2.html" . }}
    {{ end }}

    <!--Abstracto-->
    {{ if .Site.Params.section_ctn_l_3 }}
    {{ partial "section_ctn_l_3.html" . }}
    {{ end }}

    <!--Segundo testimonial-->
    {{ if .Site.Params.section4_2 }}
    {{ partial "section4_2.html" . }}
    {{ end }}

    <!--Comprar la Guia-->
    {{ if .Site.Params.section3 }}
    {{ partial "section3.html" . }}
    {{ end }}

    <!--Desactivado_Contacto-->
    {{ if .Site.Params.section5 }}
    {{ partial "section5.html" . }}
    {{ end }}

    <!--El autor-->
    {{ if .Site.Params.section6 }}
    {{ partial "section6.html" . }}
    {{ end }}
    
    <!--Footer_Desactivado-->
    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}